<configuration>  
  <system.webServer>
    <handlers>
            <add name="Python-FastCGI" path="*.py" verb="*" modules="FastCgiModule" scriptProcessor="C:\Api_Verificacao_Documento_Py\env\Scripts\wfastcgi-enable.exe" resourceType="File" />
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python39\python.exe|C:\Users\Administrator\AppData\Local\Programs\Python\Python39\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <rewrite>
            <rules>
                <clear />
                <rule name="HTTPS Redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{REQUEST_URI}" appendQueryString="false" />
                </rule>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://api.python.hunno.com.br:2008/{R:1}" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="ReverseProxyOutboundRule1" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^http(s)?://http://75.119.134.38:5000/(.*)" />
                    <action type="Rewrite" value="http{R:1}://api.python.hunno.com.br/{R:2}" />
                </rule>
                <rule name="ReverseProxyOutboundRule2" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^http(s)?://api.python.hunno.com.br:2008/(.*)" />
                    <action type="Rewrite" value="http{R:1}://api.python.hunno.com.br/{R:2}" />
                </rule>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="Api.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\Api_Verificacao_Documento_Py" />
	<!-- <add key="WSGI_LOG" value="C:\Api_Verificacao_Documento_Py\app.log" />-->
  </appSettings>
</configuration>  